body {
text-align: center;
margin: 0;
h1 {
	margin: 0;
 }
}
header {
	background-color: #F15B31;
	font-color: #FFFFFF, 30px;
	padding: 20px;
}
nav {
	background-color:#00A6B3;
	font-color:#FFFFFF;
	padding: 20px;
	border-bottom: 2px solid transparent;
}
main {
	width: 850px;
	margin: 35px;
	margin-left: auto;
	margin-right: auto;
}
img {
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0;
}
.footer:hover {
	color: white;
	text: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background: #0D2C40;
	text-color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
   
}
.name {
	color: #F15B31;
	font-weight: 700;
}
.copywrite {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}
